.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1em 0;
    background-color: #f8f8f8;
    padding: 0.8em;
    border-radius: 8px;
}

.title span {
    margin-left: 0.8em;
    font-size: 1.5em;
}

